.display {
  background-color: #f6f6e2;
  padding: 10px;
  width: 320px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(15, 6.6%);
  grid-template-rows: 0.7fr 0.2fr;
  justify-items: center;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button {
  grid-column-start: 1;
  grid-column-end: 16;
}

button {
  font-size: 1.4em;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background-color: #dadada;
  border: none;
  color: #333;

  outline: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:active {
  background-color: #ccc;
}
